{% extends 'base.html' %}

{%block title%}About Us{%endblock title%}

{%block body%}
<div class="container-fluid px-0 mb-3">
    <div id="carouselExampleCaptions">
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="/static/imgs/brownie.jpg" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block">
                <h1>About Us</h1>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="about">
    <p align="center" style="font-size: large;">
        We are HoneYed, the new comer in the compatitive Ice Cream and dessert market.
    </p>
</div>
{%endblock body%}
